package-lock.json
/.cache
/coverage
/dist
/node_modules/*
# External dependencies
/src/starter-template/bundle.js
/src/starter-template/export/FileSaver.js
/src/starter-template/package.json
/src/starter-template/package-lock.json
/starter-template/node_modules/*
