@import '../variables.less';

@width-nav-grow: 600px;

header {
	text-align: right;
	flex-flow: column;

	&:after {
		content: '';
		right: 0;
	}
}

nav {
	align-items: flex-start;

	&:before {
		content: '';
		left: 0;
	}

	> div,
	> a {
		justify-content: flex-start;
	}
}

nav,
header {
	display: flex;
	justify-content: center;

	a {
		text-decoration: none;

		&:active,
		&:visited {
			color: inherit;
		}
	}

	span a {
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}

	> div,
	> a {
		color: #000;
		display: flex;
		text-transform: uppercase;
		font-size: 1.875em; // ( 30/16 ) em;
		padding: 30px;
		height: 100%;
		width: 100%;

		h1 {
			font-size: inherit;
		}
	}

	> div {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;

		span {
			padding-bottom: 30px;
			width: 250px;
			font-size: unit( ( 15 / 16 ), rem );
		}

		img {
			margin-top: -23px;
		}
	}

	> a:hover {
		text-decoration: none;
	}
}

#explore:hover,
.page--skin + nav #explore,
.page--explore + nav #explore {
	background: @color-explore-main;
}

.page--new + nav #create,
#create:hover {
	background: @color-create-main;
}

header div {
	padding: 30px;
	padding: 30px;
	text-transform: uppercase;
	font-size: 1.142em; // (16/14) em;
}

@media all and ( max-width: @width-nav-grow ) {
	nav,
	header {
		border-bottom: solid 3px #000;
		width: 100%;
	}

	body {
		display: flex;
		flex-flow: row wrap;
	}

	main {
		order: 2;
	}


	header,
	.page--home ~ nav {
		height: 50vh;
	}

	nav > a {
		align-items: center;
		justify-content: center;
	}

	#create {
		display: none;
	}
}

@media all and ( min-width: @width-nav-grow ) {
	nav,
	header {
		height: 100%;
		position: relative;
		min-width: 300px;
		max-width: 720px;
		flex-grow: 1;
		flex-direction: column;

		// On a 900px height viewport, each link should have 300px high border.
		@height-nav-link-border: 33.3%;

		&:before,
		&:after {
			position: absolute;
			height: @height-nav-link-border * 2;
			border-left: solid 2px #000;
			margin-left: -2px;
			z-index: 1;
		}

		> div,
		> a {
			width: 100%;
			height: 50%;
		}

		> a:first-child {
			align-items: flex-end;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 300px;
				border-bottom: solid 2px #000;
			}
		}
	}

	header {
		align-items: flex-end;

		> a {
			justify-content: flex-end;

			&:first-child:after {
				left: auto;
				right: 0;
			}
		}
	}

	nav {
		> a {
			align-items: flex-start;
		}
	}

	.page--home ~ nav:before {
		content: none;
	}
}
