<ul>
    <li class="mw-adminbar-logo">
        <a href="{{link-mainpage}}">
            Home
        </a>
    </li>
    <li class="mw-adminbar-search">
        {{#data-search-box}}
        <form action="{{form-action}}">
        <input type="checkbox" class="mw-adminbar-search__toggle">
        <input type="search" class="mw-adminbar-search__input mw-searchInput"
            {{{html-input-attributes}}}>
        <input type="submit" {{{html-button-fulltext-attributes}}}>
        </form>
        {{/data-search-box}}
    </li>
</ul>