<div class="mw-adminbar {{#is-anon}}mw-adminbar--anon{{/is-anon}}">
    <div class="mw-adminbar-start">
        {{>AdminBarHome}}
    </div>
    <div class="mw-adminbar-end" {{{html-user-language-attributes}}}>
        {{>AdminBarUser}}
    </div>
</div>
