{{#data-portlets}}<span
	class="catlinks mw-skin-category-plain"
	data-mw="interface">
    {{^data-category-normal}}{{msg-skinname-no-categories}}{{/data-category-normal}}
    {{#data-category-normal}}
	<ul class="{{class}}">
	{{{html-items}}}
	{{/data-category-normal}}
	{{#data-category-hidden}}
	<li class="{{class}}">
		<ul>{{{html-items}}}</ul>
	</li>
	{{/data-category-hidden}}
	</ul>
</span>{{/data-portlets}}
