{{#data-footer.data-icons}}
<p class="{{id}} {{className}}">
{{#array-items}}{{{html}}}&nbsp;{{/array-items}}
</p>
{{/data-footer.data-icons}}
{{#data-footer.data-info.array-items}}<div class="{{id}}">{{{html}}}</div>{{/data-footer.data-info.array-items}}
<div>
{{#data-footer.data-places.array-items}}<span class="{{id}}">{{{html}}}</span>&nbsp;&nbsp;{{/data-footer.data-places.array-items}}
</div>
