<p>
{{#data-footer.data-icons.array-items}}{{{html}}}&nbsp;{{/data-footer.data-icons.array-items}}
</p>
{{#data-footer.data-info.array-items}}<div>{{{html}}}</div>{{/data-footer.data-info.array-items}}
<div>
{{#data-footer.data-places.array-items}}<span>{{{html}}}</span>&nbsp;&nbsp;{{/data-footer.data-places.array-items}}
</div>
