{{#data-portlets.data-languages}}
<nav class="language-button {{class}}" id="{{id}}">
    <input type="checkbox" class="mw-interlanguage-selector">
    <div class="mw-ui-button mw-ui-quiet mw-ui-progressive">
        Read in another language
    </div>
    <div class="language-button-dropdown">
        <ul>{{{html-items}}}</ul>
    </div>
</nav>
{{/data-portlets.data-languages}}
