@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono.ttf')  format('truetype');
}

body {
    background: #e80447;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color:white;
    text-decoration: underline;
    text-decoration-style: dotted;
}
