@font-face {
	font-family: 'Roboto Mono';
	src: url( 'RobotoMono.ttf' )  format( 'truetype' );
}

@font-face {
	font-family: 'Roboto Regular';
	src: url( 'Roboto-Regular.ttf' )  format( 'truetype' );
}

label,
body,
select,
button,
input {
	font-family: 'Roboto Mono';
}

* {
	box-sizing: border-box;
}

label {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}

h1,
html,
body {
	padding: 0;
	margin: 0;
}

main {
	max-width: 840px;
}

@media all and ( min-width: 1400px ) {
	body {
		display: flex;
		max-width: 1440px;
		margin: auto;
		justify-content: center;
	}

	main,
	body,
	html {
		box-sizing: content-box;
		height: 100vh;
		overflow: hidden;
	}
}

@import './components/NavPanel.less';
