<ul>
    <li class="mw-adminbar-logo">
        <a href="{{link-mainpage}}">
            Home
        </a>
    </li>
    <li class="mw-adminbar-search">
        {{#data-search-box}}{{{html-button-search-fallback}}}{{/data-search-box}}
    </li>
</ul>