<header>
    {{>Indicators}}
	<h1 class="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
	<div id="siteSub">{{msg-tagline}}</div>
	<div id="contentSub">
        {{{html-subtitle}}}
        {{{html-undelete-link}}}
    </div>
</header>