<ul class="mw-edit-bar">
    {{#data-portlets.data-views}}
    {{{html-items}}}
    {{/data-portlets.data-views}}
    {{#data-portlets.data-namespaces}}
    {{{html-items}}}
    {{/data-portlets.data-namespaces}}
</ul>
