.mw-portlet-notifications {
	margin-top: -20px;

	li {
		width: 20px;
		height: 20px;
	}

	#pt-notifications-alert {
		margin-right: 20px;
	}

	a {
		background-repeat: no-repeat;
		color: transparent;
		background-position: left center;
		display: block;
	}
}

#pt-talk-alert {
	display: none;
}
